html, body {
	height:100%;
}
body {
	width: 100%;
	background: #003f5f;
	overflow: auto;
}
#header{
	position: relative;
	width: 250px;
	margin-left: 15%;
}
#header h1{
	position: absolute;
	top: 20px;
	z-index: 999;

	font: 30px/36px 'BebasRegular', Helvetica, sans-serif; 
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);

	height: 250px;
	width: 250px;
	margin: 0 auto;
	background: url(../images/logo.png) no-repeat 0 0;
	background-size: 100% 100%;
 	text-indent: -1000em;
}

#footer {
	margin-top: 30px;
	margin-right: 25px;
	color: white;
	font-size: 14px;
	font-family: Bebas;
	float: right;
}

#footer li {
	display: inline;
	list-style-type: none;
	margin-left: 10px;
}

#catflow {
	background: ;
	width: 910px;
	margin: 0 auto;
	margin-top: 25px;
	height: 300px;
}

#catflow li {
	display: inline;
	list-style-type: none;
}
.content{
/*	background: url(../images/catpath.png) no-repeat 100px 180px; */
	right: 100px;
	left: 100px;
	top: 25px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font: 48px 'BebasRegular', Helvetica, sans-serif; 
	margin-top: 25px;
	margin-left: ;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
 	text-align: center;
}
.content h3{
	font: 24px 'BebasRegular', Helvetica, sans-serif; 
	word-spacing: 2px;
	margin-left: ;
	padding: 2px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
 	text-align: center;
}
.content p{
	font: 18px Helvetica, sans-serif;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: black;
	margin: 3px 0px;
	margin-left: 10px;
}


/* HATTIP: http://elivz.com/blog/single/inline_image_replacement/ */
.replaced {
	display: inline-block;
	dislpay: -moz-inline-stack;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: text-middle;
	zoom: 1;
}

.replaced span {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

#hearts {
	width: 120px; 
	height: 42px;
	margin: 0 auto;
	background: url(../images/loves.png) no-repeat 0 0;
	background-size: 100% 100%;
}

.number {
	font-size: larger;
}

.price {
	font-size: larger;
	font-style: italic;
}

.catbutton {
	-moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: border;  /* Safari 4? Chrome 6? */
	background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	-moz-background-clip: content;     /* Firefox 3.6 */
	-webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	-moz-border-radius: 10px;
	border: 10px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 10px;

	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 300px;
	background: #8dc63f;

	font: 28px/28px 'BebasRegular', Helvetica, sans-serif; 
	font-height: 75%;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	text-align: center;
}

.catbutton:hover {
	border: 10px solid rgba(0,0,0,0);
	color: #fff;
	color: rgba(255,255,255,0.9);
}

.watwatwat {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 10px;

	font: 14px/12px, Helvetica, sans-serif; 
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	text-align: center;
}


.section{
	min-width: 100%;
	height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -150%;
	position: absolute;
	background: #000;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	z-index: 2;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.section:target{
	margin-top: 0%;
	background-color: #00537d;
}


#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about,
#contact:target ~ #header #navigation #link-contact{
	background: #000;
	color: #fff;
}
#works {
	padding: 15px 0px;
}
#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px; 
	background: rgba(255,255,255,0.9);
}

#form {
	width: 90%;
	margin: 0 auto;
}

#form p{
	background: #fff;
	color: #000;
}
#form input, #form textarea{
	font: 16px Helvetica; 
	background: #000;
	color: #fff;
	border: none;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #ddd;
}