{% extends "base.html" %}

{% block content %}
<div class="panel">
	<h4>{{ brand.name }} Details</h4>

	<table width="100%">
    {% for key, value in brand.get_field_values %}
        {% if value %}
        <tr>
            <td width="20%"><strong>{{ key }}</strong></td><td>{{ value }}</td>
        </tr>
        {% endif %}
    {% endfor %}
	</table>
</div>

<p align="right"><a class="secondary radius button" href="{% url ramen_add %}">New ramen</a></p>
{% for ramen in ramen_list %}
  <div class="panel">
    <a href="{{ ramen.get_absolute_url }}">{{ ramen }} - ${{ ramen.price }}</a>
  </div>
{% endfor %}

<ul class="button-group">
  <li><a class="button" href="{% url brand_list %}">List</a></li>
  <li><a class="button" href="{% url brand_update brand.id %}">Update</a></li>
  <li><a class="button" href="{% url brand_delete brand.id %}">Delete</a></li>
</ul>
{% endblock %}