{% extends "base.html" %}

{% block content %}
<div class="panel">
	<h4>{{ object.name }} Details</h4>

	<table width="100%">
    	{% for key, value in object.get_field_values %}
	        {% if value %}
        	<tr>
	            <td width="20%"><strong>{{ key }}</strong></td><td>{{ value }}</td>
        	</tr>
        	{% endif %}
    	{% endfor %}
	</table>
</div>

{% if object.shipping_box %}
<div class="panel">
	Shipped via
	{% for box in object.shipping_box.all %}
	{% if not forloop.first %}and{% endif %}
	<a href="{% url box_detail box.id %}">{{ box }}</a>
	{% endfor %}
</div>
{% endif %}

<ul class="button-group">
  <li><a class="button" href="{% url ramen_list %}">List</a></li>
  <li><a class="button" href="{% url ramen_update ramen.id %}">Update</a></li>
  <li><a class="button" href="{% url ramen_delete ramen.id %}">Delete</a></li>
</ul>
{% endblock %}