{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row" style="background-image:url('{{ STATIC_URL }}/img/kitten1.jpg'); background-size: 58.5%; background-color: pink; height: 400px;">
	<div class="five columns offset-by-seven" style="opacity:1; background-color: red; height: 400px;">
		<br><br><br><br>
		<h1 style="color: white;">Try exotic tastes from around the world.</h1>
		<br><br>
		<a href="order" class="large radius success button" style="font-size: 1.5em;">ORDER NOW</a><br>
	</div>
</div>
{% endblock %}

{% block footer %}
<div class="row">
	<div class="twelve columns">
		<hr>
		<a href="">Order</a> | <a href="">Register</a> | <a href="">Pay</a> | <a href="">Contact</a> | <a href="">Support</a>
	</div>
</div>
{% endblock %}