{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row" style="background-color: pink; height: 500px;">
	<div class="five columns offset-by-seven" style="background-color: red; height: 500px; line-height: 500px;">
		<a href="order" class="large radius success button" style="font-size: 2em; vertical-align: middle;">ORDER NOW</a><br>
	</div>
</div>
{% endblock %}

{% block footer %}
<div class="row">
	<div class="twelve columns">
		<hr>
		<a href="">Order</a> | <a href="">Register</a> | <a href="">Pay</a> | <a href="">Contact</a> | <a href="">Support</a>
	</div>
</div>
{% endblock %}