{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}
{% include "back/_nav.html" %}

<h1>Backoffice / Customers</h1>
<div class="panel">This shows customer information and tools.</div>

<table width="100%">
	<thead><tr><th colspan="8">Profit by States</th></tr></thead>
	<tbody>
	<tr>
		<td></td>
		<td>User ID</td>
		<td>Name</td>
		<td>State</td>
		<td>Box</td>
		<td>Revenue</td>
		<td>Costs</td>
		<td>Profit</td>
	</tr>
	{% for i in profits_by_state %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ i.user }}</td>
		<td>{{ i.name }}</td>
		<td>{{ i.state }}</td>
		<td>{{ i.box }}</td>
		<td>{{ i.revenue }}</td>
		<td>{{ i.costs }}</td>
		<td>{{ i.profit }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}