{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}
<div class="panel">
	<h4>List of coupons</h4>
	<ul>
	{% for coupon in coupons.data %}
		<li>{{ coupon.id }} - discount: {{ coupon.percent_off }}% - redeemed: {{ coupon.times_redeemed }}{% if coupon.max_redemptions != None %}/{{ coupon.max_redemptions }}{% endif %}
	{% endfor %}
</ul>
</div>
<p>
	<form action="" method="POST">{% csrf_token %}
	<input name="id" type="text" placeholder="name">
	<input name="percent_off" type="text" placeholder="percent off">
	<input name="max" type="text" placeholder="max">
	<input type="submit" class="button" value="Create">
	</form>
</p>
{% endblock %}