{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}
<div class="panel">
	<h4>User Reports</h4>
	<table width="100%">
		<tr><th>Name</th><th>Email</th><th>State</th></tr>
	{% for profile in profiles %}
		<tr><td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td><td>{{ profile.user.email }}</td><td>{{ profile.ship_state }}</td></tr>
	{% endfor %}
	</table>
</div>

<div class="panel">
	<h4>Inventory Reports</h4>

	<p>Ramen needed: {{ inv_count }}</p>
</div>

<div class="panel">
	<h4>Financial Reports</h4>

	<p>Total revenue: {{ total_rev }}</p>
</div>
{% endblock %}