{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}

<h1>Backoffice / Inventory</h1>
{% include "back/_nav.html" %}

<table class="twelve">
	<thead>
		<tr><th></th><th>Total</th><th>China</th><th>USA</th></tr>
	</thead>
	<tbody>
		<tr><td width="20%"><strong>Brands</strong></td><td>{{ total_brand_count }}</td><td>{{ china_count }}</td><td>{{ usa_count }}</td></tr>
		<tr><td><strong>Ramens</strong></td><td>{{ total_ramen_count }}</td><td>{{ china_count }}</td><td>{{ usa_count }}</td></tr>
	</tbody>
</table>

{% endblock %}