{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}

<h1>Backoffice / Shipping</h1>
{% include "back/_nav.html" %}

<h4>To pack</h4>

<table width="50%">
	<thead><tr><th colspan="2">Choices</th></tr></thead>
	<tbody>
	<tr><td>Tinybox</td><td>{{ a_count }} ({% widthratio a_count|floatformat:"2" total_count|floatformat:"2" 100 %}%)</td></tr>
	<tr><td>Bigbox</td><td>{{ b_count }} ({% widthratio b_count|floatformat:"2" total_count|floatformat:"2" 100 %}%)</td></tr>
	<tr><td>Sumobox</td><td>{{ c_count }} ({% widthratio c_count|floatformat:"2" total_count|floatformat:"2" 100 %}%)</td></tr>
	<tr><td>Total</td><td>{{ total_count }}</td></tr>
	</tbody>
</table>

<h4>Packed</h4>

<h4>To ship</h4>
<ul>
{% for order in unshipped_list|slice:":25" %}
	<li>{{ order }} - {{ order.user.profile.ship_state }}</li>
{% endfor %}
</ul>

<h4>Shipped</h4>

<table width="50%">
	<thead><tr><th colspan="2">States</th><th>Customers</th><th>Avg</th><th>Max</th><th>Sum</th></tr></thead>
	<tbody>
	{% for i in states %}
	<tr><td width="10%">{{ forloop.counter }}</td><td>{{ i.ship_state }}</td><td>{{ i.customers }} ({% widthratio i.customers|floatformat:"2" total_count|floatformat:"2" 100 %}%)</td><td>${{ i.avg }}</td><td>${{ i.max }}</td><td>${{ i.sum }}</td></tr>
	{% endfor %}
	</tbody>
</table>

<p>Total: {{ total_count }}</p>

{% endblock %}