{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current"><a href="#">1. Menu</a></li>
  <li class="unavailable"><a href="#">2. Register</a></li>
  <li class="unavailable"><a href="#">3. Pay</a></li>
  <li class="unavailable"><a href="#">4. Prefs</a></li>
</ul>

<form action="" method="post">{% csrf_token %}
    <div class="row">
        <div class="twelve columns">
            <div class="panel radius">
                <table width="100%">
                    <tr>
                        <td><img src="{{ STATIC_URL }}img/box1.png"><br>{{ orderform.menu.0 }}</td>
                        <td><img src="{{ STATIC_URL }}img/box2.png"><br>{{ orderform.menu.1 }}</td>
                        <td><img src="{{ STATIC_URL }}img/box3.png"><br>{{ orderform.menu.2 }}</td>
                    </tr>
                    <tr>
                        <td>Product listing<br><br>Something something feature<br><br>Something something feature<br><br>Price: $12/mo</td>
                        <td>Product listing<br><br>Something something feature<br><br>Something something feature<br><br>Price: $22/mo</td>
                        <td>Product listing<br><br>Something something feature<br><br>Something something feature<br><br>Price: $32/mo</td>
                    </tr>
                </table>
            </div>
            <input type="submit" class="radius button" value="{% trans "Next"%}" />
        </div>
    </div>
</form>


{% endblock %}