{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if choice %}
	You chose {{ choice }}! Now sign up!

<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Signup" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }} 
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" class="radius button" value="{% trans "Signup"%}" />
</form>

{% else %}

<form action="" method="post">{% csrf_token %}
    {{ orderform.non_field_errors }}

    <div class="row">
        <div class="ten columns centered">
            <div class="panel radius">
                {{ choiceform }}
            </div>
            <input type="submit" class="radius button" value="{% trans "Next"%}" />
        </div>
    </div>

<!-- 
    <div class="row">
        <div class="ten columns centered">
            <div class="panel radius">
                {{ orderform.menu }}
            </div>
        </div>
    </div>
-->

    <div class="row" style="display:none;">
        <div class="ten columns centered">
            <table width="100%">
                <tr>
                    <td><img src="{{ STATIC_URL }}img/box1.png"><br>{{ orderform.menu.0 }}</td>
                    <td><img src="{{ STATIC_URL }}img/box2.png"><br>{{ orderform.menu.1 }}</td>
                    <td><img src="{{ STATIC_URL }}img/box3.png"><br>{{ orderform.menu.2 }}</td>
                </tr>
                <tr>
                    <td>Product listing<br><br>Price: $11.99/mo</td>
                    <td>Product listing<br><br>Price: $21.99/mo</td>
                    <td>Product listing<br><br>Price: $31.99/mo</td>
                </tr>
            </table>

            <input type="submit" class="radius button" value="{% trans "Next"%}" />
        </div>
    </div>
</form>


{% endif %}
{% endblock %}