{% extends 'base.html' %}
{# {% extends 'userena/base_userena.html' %} #}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Cancel" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
  <ul id="box-nav" class="nav-bar">
    <li><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
    <li><a href="{% url 'userena_menu_change' user.username %}">{% trans "Change menu" %}</a></li>
    <li><a href="{% url 'userena_prefs_change' user.username %}">{% trans "Change prefs" %}</a></li>
    <li class="active"><a href="{% url 'cancel_profile' user.username %}">{% trans "Cancel" %}</a></li>
  </ul>


{{ profile }}

<br><br>
<form>
  <input type="button" value="Cancel">
</form>

{% endblock %}