{% extends 'base.html' %}
{# {% extends 'userena/base_userena.html' %} #}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Menu Change" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

{% include "userena/_nav.html" %}

<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Menu change" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="radius button" value="{% trans "Save changes" %}" />
</form>
{% endblock %}