{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block stripe %}
<script src="https://js.stripe.com/v1/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = 'pk_test_XvJjqRsdrKg45axxSDyb2Hs0';
        //]]>
    </script>
{% endblock %}

{% block jquery %}
function stripeResponseHandler(status, response) {
    if (response.error) {
        $(".payment-errors").text(response.error.message);
        $("#user_submit").removeAttr("disabled");
    } else {
        var form$ = $("#payment");
        var token = response['id'];
        var last4 = response['card']['last4'];
        form$.append("<input type='hidden' name='stripe_token' value='" + token + "'/>");
        form$.append("<input type='hidden' name='last4' value='" + last4 + "'/>");
        form$.get(0).submit();
    }
}

$(document).ready(function() {
  $("#payment").live('submit', function(e) {
    e.preventDefault();
    e.returnValue = false;

    number = $('#card-number').val();
    exp_month = $('#expiry-month').val();
    exp_year = $('#expiry-year').val();
    cvc = $('#cvv').val();

    Stripe.createToken({
        number: number,
        exp_month: exp_month,
        exp_year: exp_year,
        cvc: cvc
    }, stripeResponseHandler);

    // prevent the form from submitting with the default action
    return false;
  });
});
{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

{% include "userena/_nav.html" %}

{% if profile.last_4_digits %}
<div class="panel">
    <h4>Current payment info</h4>
    <p>Last card used: **** **** **** {{ profile.last_4_digits }}</p>
</div>
{% endif %}

<form id="payment" action="" method="POST">
    {% csrf_token %}    
    <fieldset>
    <legend>{% trans "New Payment" %}</legend>

    <noscript>
      &lt;p&gt;
        This form requires Javascript to use
      &lt;/p&gt;
    </noscript>

    <label for="credit_card_number">Credit card number</label>
    <input class="field" id="card-number" type="text">
  
    <label for="expiry_date">Expiry date</label>
    <ul class="block-grid two-up">
    <li><input id="expiry-month" type="text" placeholder="MONTH"></li>
    <li><input id="expiry-year" type="text" placeholder="YEAR"></li>
    </ul>

    <label for="cvv">Security code (CVV)</label>
    <input class="small" id="cvv" type="text">
  
    </fieldset>

  <input class="radius button" id="user_submit" name="commit" type="submit" value="Chang payment">
</form>
{% endblock %}