{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
  <div class="white-box">
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}

      {% if user.username == profile.user.username %}
        <ul id="box-nav" class="nav-bar">
          {% block profile_navigation_items %}
            <li class="active"><a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a></li>
            <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></li>
            <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
            <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
            <li><a href="{% url 'userena_menu_change' user.username %}">{% trans "Change menu" %}</a></li>
            <li><a href="{% url 'userena_prefs_change' user.username %}">{% trans "Change prefs" %}</a></li>
          {% endblock %}
        </ul>
      {% endif %}

    {% endblock %}

    <div class="row">
    <div class="two columns">
      {% block profile_details %}
        <img class="mugshot" width="100%" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
    </div><!-- two columns -->
    <div class="four columns">
      <div class="panel">
        <strong>Menu choice:</strong>
        {{ profile.choice }}
      </div><!--panel-->

      <div class="panel">
        <dl>
          {% block profile_definition_list %}
            {% if profile.user.get_full_name %}
              <dt><strong>{% trans "Name" %}</strong></dt>
              <dd>{{ profile.user.get_full_name }}</dd>
              <br>
            {% endif %}
            {% if profile.user.email and not hide_email %}
              <dt><strong>{% trans "Email" %}</strong></dt>
              <dd>{{ profile.user.email }}</dd>
              <br>
            {% endif %}
            {% if profile.age %}
              <dt>{% trans "Age" %}</dt>
              <dd>{{ profile.age }}</dd>
              <br>
            {% endif %}
            {% if profile.website %}
              <dt>{% trans "Website" %}</dt>
              <dd>{{ profile.website|urlize }}</dd>
              <br>
            {% endif %}
            {% if profile.location %}
              <dt>{% trans "Location" %}</dt>
              <dd>{{ profile.location }}</dd>
              <br>
            {% endif %}
            {% if profile.about_me %}
              <dt>{% trans "About me" %}</dt>
              <dd>{{ profile.about_me }}</dd>
              <br>
            {% endif %}
            {% if profile.ship_address_1 %}
              <dt><strong>Shipping Address</strong></dt>
              <dd>{{ profile.ship_address_1 }} {% if profile.ship_address_1 %}{{ profile.ship_address_2 }}{% endif %}<br>
                {{ profile.ship_city }}, {{ profile.ship_state }} {{ profile.ship_zip_code }}</dd>
              <br>
            {% endif %}
          {% endblock %}
        </dl>
      {% endblock %}
      </div><!-- panel -->
    </div><!-- four columns-->
    <div class="six columns">
      <div class="panel">
        <input type="text" placeholder="Status updates">
      </div><!--panel-->

      <div class="panel">
        SOMETHING HERE, maybe activity stream?
      </div><!--panel-->
    </div><!-- six columns -->

    </div><!-- row -->

  </div><!-- white-box -->
{% endblock %}